<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>

        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
        <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script>

        <link rel="../css/style.css" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="../css/style.css" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">

        <script src="../Script/index.js"></script>

    </head>
    <body>
    <div class="d-flex center banner">
        <p>Use this banner to advertise a special promotion-20% 0ff</p>
    </div>
    <header>
        <nav class="navbar_t">
            <ul class="d-flex">
                <li><h4><b>REWARDS</b></h4></li>
                <li><h4><b>QUICK ORDER</b></h4></li>
                <li><i class="fas fa-map-marked-alt"></i></li>
                <li><h4><b>STORE LOCATOR</b></h4></li>
            </ul>
            <ul class="d-flex">
                <li><h4><b>CART</b></h4></li>
                <li><p><b>|</b></p></li>
                <li><h4><b>SIGN UP</b></h4></li>
                <li><p><b>-</b></p></li>
                <li><h4><b>LOG IN</b></h4></li>
                <li><p><i class="fas fa-search"></i></p></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="top-nav">
            <div>
                <h1 class="hab-mb"><b>hab+dash</b>.</h1>
                <div class="flex-row center m-top">
                    <h5 class="m-top center">by</h5><h3 class="m-top center">FIL-TECH</h3>
                </div>
            </div>
            <div class="d-flex center">
                <h4>Top Threads</h4>
                <h4>Bobbins</h4>
                <h4>Stabilizer</h4>
                <h4>Display</h4>
                <h4>Notions</h4>
            </div>
        </div>
        <div class="top">
            <div class="img-text">
                <h1>Add color to your masterpiece</h1>
                <button class="shop"> Shop Now</button>
            </div>
        </div>
            <div class="d-column">
                <div class="flex-end">
                <div class="glide first-glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="glide__slide product-item">
                                <img src="../images/glide.png" alt="Glide">
                                <div class="container">
                                    <p>Glide</p>
                                </div>
                            </li>
                            <li class="glide__slide product-item">
                                <img src="../images/bobbin.png" alt="Bobbin">
                                <div class="container">
                                    <p>Magnetic Core Bobbin</p>
                                </div>
                            </li>
                            <li class="glide__slide product-item">
                                <img src="../images/glide.png" alt="Glide">
                                <div class="container">
                                    <p>Glide</p>
                                </div>
                            </li>
                            <li class="glide__slide product-item">
                                <img src="../images/stabilizer.png" alt="Stabilizer">
                                <div class="container">
                                    <p>Premium Stabilizer</p>
                                </div>
                            </li>
                            <li class="glide__slide product-item">
                                <img src="../images/glide.png" alt="Glide">
                                <div class="container">
                                    <p>Glide</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="glide__bullets d-flex center" data-glide-el="controls">
                        <button class="glide__bullet" data-glide-dir="=0"></button>
                        <button class="glide__bullet" data-glide-dir="=1"></button>
                        <button class="glide__bullet" data-glide-dir="=2"></button>
                        <button class="glide__bullet" data-glide-dir="=3"></button>
                        <button class="glide__bullet" data-glide-dir="=4"></button>
                    </div>
                </div>
                </div>
            </div>

            <div class="map">
                <div class="map-left d-column center">
                    <h1>Retail Store Locator</h1>
                    <p>Buy our products in more than 600 retail stores worldwide</p>
                    <button class="shop">
                            Search retail store
                    </button>
                </div>
                <div>
                    <img src="/images/world_map.png" alt="World Map" >
                </div>
            </div>

            <div class="glide second-glide d-column">
                <div class="d-flex center">
                    <h3>FEATURED PRODUCTS</h3>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides product-container">
                        <li class="glide__slide product-item box-shadow center">
                            <img src="../images/embroidery.png" alt="Embroidery">
                            <div class="container">
                                <p>EMBROIDERY STABILIZER</p>
                            </div>
                        </li>
                        <li class="glide__slide product-item box-shadow center">
                            <img src="../images/elephant.png" alt="Elephant">
                            <div class="container">
                                <p>CUBBIE GREY ELEPHANT</p>
                            </div>
                        </li>
                        <li class="glide__slide product-item box-shadow center">
                            <img src="../images/cop.png" alt="Kimberbell Cop">
                            <div class="container">
                                <p>KIMBERBELL COP OF CHEER</p>
                            </div>
                        </li>
                        <li class="glide__slide product-item box-shadow center">
                            <img src="../images/scoops.png" alt="Kimberbell Scoops">
                            <div class="container">
                                <p>KIMBERBELL TWO SCOOPS</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="glide third-glide">
                <div class="d-flex center">
                    <h2><b>Testimonials</b></h2>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div  class="d-column center m-top">
                                <p><span>As a machine quilter, I love the sheen of Glide and how it adds an extra special touch to my quilts. It's the perfect blend of beauty and</span></p>
                                <p><span>strength. Not only do I love the thread, but I love working with Hab+Dash to bring out the best in my quilting. They have been an</span></p>
                                <p><span>integral part of our Free Motion Quilting Challenges and helped meet our thread needs each time.</span></p>
                                <p><span>-Angela Walters-</span></p>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div  class="d-column center m-top">
                                <p><span>Embroidery operators complained in the past about how the following shift operators would reset tensions and how they constantly had to reset it to their personal liking. Since our change to Magna-Glide, tensions remain at initial settings. We no longer hear tension adjustment complaints from operator to operator.</span></p>
                                <p><span>-Lands' End-</span></p>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div  class="d-column center m-top">
                                <p><span>When we looked into doing a Thread Of The Month Club we selected Fil-tec Glide.. Our choice was Glide due to the quality, sheen, strength among other features. Our customers are mainly quilters and embroiderers and this thread is loved by both. We have been using Fil-tec prewound bobbins for many years with no issues ever we are now enjoying the same quality in Glide thread. Thanks for making such a great product.</span></p>
                                <p><span>-Darren Mulqueen - Mulqueen Sewing Center-</span></p>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div  class="d-column center m-top">
                                <p><span>I love Glide 60 wt thread! I have uI love Glide 60 wt thread! I have used a lot of threads, but at the moment, Glide 60wt is my go to thread. It is the perfect weight for my heavy custom quilting and it disappears on my edge to edge quilts. I am so pleased with how smoothly this thread works with the magna glide bobbins as well. Tension issues are not an issue anymore!</span></p>
                                <p><span>-Judi Madsen-</span></p>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div  class="d-column center m-top">
                                <p><span>My job gives me the joy of being able to create for 40 hours a week. A good portion of that time is sitting at my sewing machine, sewing, and quilting. Beautiful thread is an important part of my day – I love the different colors it comes in, and I also love it when it sews beautifully!</span></p>
                                <p><span>I have been using thread from Hab+Dash by Fil-Tec for some time now. The Premo-soft thread is a beautiful polyester thread that looks and acts exactly like cotton. However, unlike cotton, the Premo-Soft thread doesn’t produce lint, which makes for a huge benefit when it comes to cleaning my machine. The Glide thread comes in many amazing colors and has a beautiful shine to it. That little bit of shine really adds to the quilting on my quilts and it sews like a dream.</span></p>
                                <p><span>The king spools are great for my big projects but the smaller mini spools make collecting all the colors sew much fun! Great thread and great customer service makes my day a “Sewtacular” day!</span></p>
                                <p><span>-Laura Coia - Sew Very Easy-</span></p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="glide__bullets d-flex center" data-glide-el="controls">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                    <button class="glide__bullet" data-glide-dir="=3"></button>
                    <button class="glide__bullet" data-glide-dir="=4"></button>
                </div>
            </div>

    </main>
    <footer>
        <div class="footer-container">
            <!-- Column 1: Hab+Dash Section -->
            <div class="habdash">
                <h3 class="hab-mb d-flex"><b>hab+dash</b>.</h3>
                <div class="flex-row center m-top">
                    <h6 class="m-top center">by</h6><h4 class="m-top center">FIL-TECH</h4>
                </div>
                <p>
                    Hab+Dash is a division of the filament technologies company, Fil-Tech, Inc.
                    and is a proud U.S.A. manufacturer of sewing threads and pre-wound bobbins.
                    Our wholesale site is dedicated to offering our manufactured products to
                    commercial embroiderers, long-arm quilters, and retail sewing shops. In addition
                    to the products we manufacture, we have sourced the best products and accessories
                    to benefit our customers.
                </p>
                <p>2024 Hab+Dash. All rights reserved.</p>
            </div>

            <div class="column">
                <div>
                    <h3>SUPPORT</h3>
                    <p>Stitch Rewards</p>
                    <p>Core Return Program</p>
                    <p>FAQs</p>
                    <p>Terms and Conditions</p>
                    <p>Online Dealers</p>
                </div>
                <div>
                    <h3>USEFUL LINKS</h3>
                    <p>Digital Color Card</p>
                    <p>Which Bobbin Fits?</p>
                    <p>Color Conversation</p>
                    <p>Stabilizer Applications</p>
                    <p>Selecting a Stabilizer</p>
                    <p>New Site Features</p>
                    <p>Institute of Heraldry</p>
                    <p>Kimberbell Solids</p>
                </div>
            </div>

            <div class="column">
                <div style="margin-right: 2em">
                    <h3>ABOUT US</h3>
                    <p>Our Story</p>
                    <p>Show Schedule</p>
                    <p>Testimonials</p>
                </div>
                <div>
                    <h3>NEWSLETTER SIGN UP</h3>
                    <p>
                        Subscribe to our newsletter to unlock exclusive access to promotions,
                        new product launches, and more!
                    </p>
                    <button class="subscribe">Subscribe</button>
                </div>
            </div>
        </div>
    </footer>

    </body>
</html>
